body{
    /*
    background-image: linear-gradient(to bottom, #136377, #202124);
    */
    background-color: #202124;
}
#new{
    width: 100%;
    height: max-content;
    display: none;
    grid-template-columns: 20% 30% 30% 20%;
    grid-auto-rows: minmax(0px,auto);
    align-items: center;
    /*
    background-image: linear-gradient(to bottom, #202124 , #136377);
    */
    background-color:#dadce0;
}
#edit{
    width: 100%;
    height: max-content;
    display: none;
    grid-template-columns: 20% 30% 30% 20%;
    grid-auto-rows: minmax(0px,auto);
    align-items: center;
    /*
    background-image: linear-gradient(to bottom, #202124 , #136377);
    */
    background-color:#dadce0;
}

#login{
    display:grid;
    height: max-content;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(0px,auto);
    align-items: center;
    background-color:#dadce0;
}
#headingOne{
    color: #dadce0;
    font-size: 60px;
    letter-spacing: 0em;
}

#headingTwo{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #000000;
    letter-spacing: .05em;
    font-size: 45px;
}
#button1{
    /*
    background-image: url("logo.pdf");
    background-repeat: no-repeat;
    */
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#dadce0;
    background-color: #202124;
    width:100px;
    padding:4px;
    margin:2px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
#button2{
   
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#dadce0;
    background-color: #202124;
    width:100px;
    padding:4px;
    margin:2px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

ul{
/*
put it in the correct area with grid
overflow: scroll-y
*/
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
}

li{
    /*position: relative;*/
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type: none;
}


input{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #dadce0;
    color: #202124;
    
}
.colorDiv{
    border-color:#dadce0;
}
.nameDiv{
    color:#dadce0;
    margin: 5px;
}
.authorDiv{
    color:#dadce0;
    margin: 5px;
}
.ratingDiv{
    color:#dadce0;
    margin: 5px;
}
.descriptionDiv{
    color:#dadce0;
    margin: 5px;
}
.dateDiv{
    color:#dadce0;
    margin: 5px;
}
.editButton{
    background-color: #dadce0;
    margin: 2px;
    color: #202124;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.deleteButton{
    background-color: #dadce0;
    margin: 2px;
    color: #202124;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#headingThree{
    color:#202124;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#email{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; 
}
#password{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4; 
}
#FirstName{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
#LastName{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
#button4{
    height: 100px;
    width:auto;
}
#register{
    display: none;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(0px,auto);

}
#GameName{
    margin:2px;
    padding: 4px;
    width:auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#Description{
    margin: 2px;
    padding: 4px;
    width:auto;
    height: 100px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
#Rating{
    margin: 2px;
    padding: 4px;
    width:auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
#Author{
    margin: 2px;
    padding: 4px;
    width:auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
#Date{
    margin: 2px;
    padding: 4px;
    width:auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}
#GameNameEdit{
    margin:2px;
    padding: 4px;
    width:auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#DescriptionEdit{
    margin: 2px;
    padding: 4px;
    width:auto;
    height: 100px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}
#RatingEdit{
    margin: 2px;
    padding: 4px;
    width:auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
#AuthorEdit{
    margin: 2px;
    padding: 4px;
    width:auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
#DateEdit{
    margin: 2px;
    padding: 4px;
    width:auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}